/* Home.css */

.landing-carousel-wrapper {
  width: 100%;
  /* height: calc(100vh - 70px); */
  /* margin-top: 70px; */
  overflow: hidden;
  position: relative;
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.landing-carousel-img {
  width: 100%;
  object-fit: contain;
height: auto;

}

@media (max-width: 768px) {
  .landing-carousel-wrapper {
    margin-top: 60px; /* mobile navbar height */
  }

  .carousel-item {
    min-height: unset !important;
  }

  .landing-carousel-img {
    max-height: none;
  }
}

